.jumbotron {
  background: #223377;
  color: white;
}

.jumbotron h1 {
  font-size: 64px;
  padding-bottom: 15px;
}

h3 {
  font-size: 34px;
}

.card-header {
  background: #223377;
  color: white;
  font-weight: bold;
}

button {
  background: #223377;
  color: white;
  font-weight: 800;
}
